# 0. Set Up

## Violent Felony Offense vs. Property Crime Felony Offense

### Downloading Packages

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

# Retrieving Crime per Borough Data
We will use the data from the second analysis, as well as the 2017 New York County Index Crime Counts and Rates to help implement our thier analysis on the breaking of felony crimes into violent and property crimes.

In [22]:
borofelony2 = pd.read_csv('/Users/nuomin/Desktop/BoroFelony2.csv')
borofelony2.head()

        Boroughs  Felony Crimes Reported
0     Manhattan                    34078
1       Brooklyn                   42814
2          Bronx                   43814
3         Queens                   28320
4  Staten Island                    4607

In [23]:
cir = pd.read_csv('/Users/nuomin/Desktop/CIR.csv')

In [24]:
cir.head()

        Boroughs Violent Crimes property crimes
0          Bronx         12,534          22,973
1       Brooklyn         14,593          35,173
2         Queens          8,671          38,475
3       New York          9,184          23,676
4  Staten Island          1,451           4,518

We can see from the table that in felony cases, there are significantly more property crimes than violent crimes for all of the counties. Merging the tables will allow us to compare the nature of felonly charges with the number of reported felony crimes.

In [25]:
borofelony2_merged = pd.merge(borofelony2, cir, on='Boroughs')
borofelony2_merged = borofelony2_merged.set_index('Boroughs')
borofelony2_merged

               Felony Crimes Reported Violent Crimes property crimes
Boroughs
Brooklyn                        42814         14,593          35,173
Bronx                           43814         12,534          22,973
Queens                          28320          8,671          38,475
Staten Island                    4607          1,451           4,518

The numbers from the NYPD Complaint Data is more or less consistent from the index crimes count. One reason for the descrepancy is that multiple crimes could have occurred on a police complain. However, the significant difference in the number of property crimes and violent crimes in which both are considerd index crimes, with possibile long-term sentencing demonstrates the carceral state of NYC.